<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.es.dao.UserAccountDao">
    <insert id="insertUserAccount">
        INSERT INTO user_account(user_id)
        VALUES (#{id})
    </insert>
    <update id="updateUserAccount">
        UPDATE user_account
        <set>
            <if test="balance > 0">
                account_balance = #{balance},
            </if>
            <if test="freezing > 0">
                freezing_money = #{freezing}
            </if>
        </set>
        <where>
            user_id = #{id}
        </where>
    </update>
    <update id="updateBalance">
        UPDATE user_account
        SET account_balance = #{balance}
        WHERE user_id = #{id}
    </update>
    <update id="updateFreezing">
        UPDATE user_account
        SET freezing_money = #{freezing}
        WHERE user_id = #{id}
    </update>
    <delete id="clearUserAccount">
        DELETE
        FROM user_account
        WHERE user_id = #{id}
    </delete>
    <select id="fetchAccountBalance" resultType="java.lang.Double">
        SELECT account_balance
        FROM user_account
        WHERE user_id = #{id}
    </select>
    <select id="fetchFreezingMoney" resultType="java.lang.Double">
        SELECT freezing_money
        FROM user_account
        WHERE user_id = #{id}
    </select>
</mapper>